.button {
  padding: 10px 30px 10px 30px;
  background-color: #48293d;
  color: white;
  font-weight: bold;
  border-style: none;
  cursor: pointer;

  &:hover {
    background-color: #d8c0cb;
    color: #45304d;
  }

  &:focus {
    border-style: solid;
    border-width: 1px;
    border-color: #45304d;
  }
}

.small {
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
}

.medium {
  padding: 10px 10px 10px 10px;
  width: 85px;
  color: white;
  border-style: none;
  font-weight: bold;
  cursor: pointer;
}
