// .customDropDownButton {
//   border-style: solid;
//   border-color: #48293d;
//   border-width: 1px;
//   background-color: white;
//   color: #48293d;
//   cursor: pointer;
//   transition: all 0.3s ease;
//   min-width: 75px;

//   &:hover {
//     color: white;
//     background-color: #fbf1ff;
//   }
// }

// .customButton {
//   background-color: white;
//   color: #48293d;
//   &:hover {
//     color: #48293d;
//     background-color: rgb(240, 238, 238);
//   }
// }

.dropDownMenu {
  position: absolute;
  width: 72px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  z-index: 1;
  background-color: #fafafa;
}

.dropDownItem {
  padding: 5px 5px 5px 5px;
  color: #48293d;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    background-color: #48293d;
    color: white;
  }
}
