.listItem {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-column: 2;
  align-items: center;
  column-gap: 20px;
  background-color: #fafafa;
}

.taskText {
  padding-left: 20px;
  font-size: 18px;
}

.checkbox {
  margin-right: 20px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.customButton {
  margin-right: 5px;
  border-style: solid;
  border-color: #48293d;
  border-width: 1px;
  background-color: white;
  color: #48293d;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: #45304d;
  }
}

.editInput {
  border-style: none;
  font-size: 18px;
  &:focus {
    border-style: solid;
    border-color: #48293d;
    outline: none;
  }
}

.editingContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: end;
}

.deadlineContainer {
  position: relative;
  display: inline-block;
}

.taskItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.labelContainer {
  position: relative;
  display: inline-block;
}

.taskActionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  row-gap: 2px;
}

.priorityContainer {
  position: relative;
  display: inline-block;
}

.highPriority {
  background-color: lightpink;
}

.mediumPriority {
  background-color: thistle;
}

.lowPriority {
  background-color: lavenderblush;
}

.taskLabels {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: end;
}

.labelList {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.labelTag {
  background-color: rgb(233, 231, 231);
  color: #48293d;
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #48293d;
  border-radius: 5px;
  padding: 1px 3px 1px 3px;
}

.customDropDownButton {
  margin-right: 5px;
  border-style: solid;
  border-color: #48293d;
  border-width: 1px;
  background-color: white;
  color: #48293d;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 75px;

  &:hover {
    color: white;
    background-color: #45304d;
  }
}

.dropDownMenu {
  position: absolute;
  width: 72px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  z-index: 1;
  background-color: #fafafa;
}

.deadlinePicker {
  position: absolute;
  z-index: 1;
}

.taskDeadline {
  margin: 0px 0px 0px 0px;
  font-size: 14px;
}
