.listItem {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-column: 2;
  align-items: center;
  column-gap: 20px;
  background-color: #fafafa;
}

.taskText {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  font-size: 18px;
}

.checkboxWithSpinner {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 5px;
  cursor: pointer;
}

.spinner {
  width: 10px;
  height: 10px;
  border: 2px solid #ccc;
  border-top: 2px solid #48293d;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.completed {
  text-decoration: line-through;
}

.customButton {
  border-style: solid;
  border-color: #48293d;
  border-width: 1px;
  background-color: white;
  color: #48293d;
  &:hover {
    color: #48293d;
    background-color: rgb(240, 238, 238);
  }
}

.editInput {
  border-style: none;
  font-size: 18px;
  &:focus {
    border-style: solid;
    border-color: #48293d;
    outline: none;
  }
}

.editingContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: end;
}

.deadlineContainer {
  position: relative;
  display: inline-block;
}

.taskItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.labelContainer {
  position: relative;
  display: inline-block;
}

.taskActionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  gap: 5px;
}

.priorityContainer {
  position: relative;
  display: inline-block;
}

.High {
  background-color: lightpink;
}

.Medium {
  background-color: thistle;
}

.Low {
  background-color: lavenderblush;
}

.taskLabels {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: end;
}

.labelList {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.labelTag {
  background-color: rgb(233, 231, 231);
  color: #48293d;
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #48293d;
  border-radius: 5px;
  padding: 1px 3px 1px 3px;
}

.deadlinePicker {
  position: absolute;
  z-index: 1;
}

.taskDeadline {
  margin: 0px 0px 0px 0px;
  font-size: 14px;
}

.simplifiedItem {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.taskTextSimplified {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.taskTopRowSimplified {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.taskItemsContainerSimplified {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
  gap: 5px;
}

.taskActionsSimplified {
  display: flex;
  gap: 2px;
}

.taskLabelsSimplified {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.editingDropdown {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
