.main {
  background-color: #fafafa;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-rows: 80px 100px 500px;
  grid-template-columns: 1fr 1fr 1fr;
}

.title {
  &Head {
    grid-column: 2;
    grid-row: 1;
    font-weight: bold;
    font-size: 25px;
  }
  &Day {
    margin-bottom: 0px;
    margin-top: 50px;
  }
}

.inputContainer {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.tasksContainer {
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  width: 555px;
  grid-column: 2;
  grid-row: 3;
}
