.main {
    background-color: #fafafa;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 80px 100px 500px;
    grid-template-columns: 300px 1fr 300px;
}

.headTitle {
    grid-column: 2;
    grid-row: 1;
    font-weight: bold;
    font-size: 25px;
}

.dayTitle {
    margin-bottom: 0px;
    margin-top: 50px;
}

.inputContainer {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.input {
    padding: 10px 300px 10px 10px;
    border-style: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    outline: none;
}

.input:focus {
    border-style: solid;
    border-width: 1px;
    border-color: #48293D;
}

.addBtn {
    padding: 10px 30px 10px 30px;
    background-color: #48293D;
    color: white;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}

.addBtn:hover {
    background-color: #D8C0CB;
    color: #45304D;
}

.tasksContainer {
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    width: 555px;
    grid-column: 2;
    grid-row: 3;
}