.taskListContainer {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 1fr;
  row-gap: 8px;
  padding-left: 0px;
}

.filterSortContainer {
  display: flex;
  justify-content: end;
  gap: 2px;
  padding-top: 10px;
  padding-right: 20px;
}
